<div class="container">
  <%= simple_form_for(cocktail,  html: { class: "form-group w-50 p-5 mx-auto"}) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>

    <%= f.submit %>
  <% end %>
</div>




