

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),
                           rgba(0,0,0,0.1)), url(<%= ActionController::Base.helpers.asset_path('bar.jpg') %>)">
  <div>
    <h1>Welcome to Mr. Cocktail!</h1>
    <span id="banner-typed-text"></span>
  </div>
</div>

<h2> Signature cocktails... crowdsourced! </h2>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-4">

        <%= link_to cocktail_path(cocktail) do %>

          <div class="card-cocktail" style="background-image: url( <%= cocktail.image_pth %>);" >
            <h2><%= cocktail.name %></h2>
          </div>

        <% end %>

      </div>
    <% end %>
  </div>
</div>



