
// $url: "https://source.unsplash.com/1600x900/?cocktail";
$url: "";

.card-cocktail {
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: center;
  // background-image: url($url);
  background-size: cover;
  display: flex;
  margin: 20px;

  h2 {
    text-align: center;
    font-size: 3.0em;
  }
}


.card-ingredients {
  border-radius: 8px;
  box-shadow: 2px 2px 15px 2px gray;
  background-color: #FCEDED;
  padding: 20px;

  h3 {
    font-family: $list-font;
  }

  li {
    font-family: $body-font;
  }
}


.card-search-resultsh1 {
  border-radius: 4px;
  box-shadow: 1px 1px 7px 2px gray;
  background-color: #FCEDED;
  // padding: 20px;
  // font-family: $list-font;
  font-family: $body-font;
  width: 60vw;
  margin:  20px 0 20px 90px;
  h2 {
    padding: 10px;
    color: black;
  }
}
