.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  img {
    height: 100px;
  }

  div {
    // width: 90px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;

  a {
    width: 90px;
    text-decoration: none;
    color: $navlinks-color;

    &:hover {
      opacity: 0.6;
    }
  }
}

