// Specific CSS for your home-page
// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul {
  list-style-type: none;
}

li {
  font-family: $list-font;
  line-height: 30px;
}

h2 {
  padding: 100px 0 16px 0;
  text-align: center;
  color: white;
}

#banner-typed-text {
  font-size: 2.3em;
}
